*{
    box-sizing: border-box;
}
body{
    background-color:rgb(95, 6, 6);
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin:0;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
}
header{
    font-size: 40px;
}
.container{
position: relative;
padding: 20px 30px;
margin: auto;
height: 450px;
width: 550px;
}
.figureContainer{
fill:transparent;
stroke: azure;
stroke-width: 4px;
stroke-linecap: round;

}
.figurePart{
    display: none;
}
.wrongLettersContainer{
    position: absolute;
    top: 20px;
    right:10px;
    display: flex;
    flex-direction: row;
    text-align: right;
}

.wrongLettersContainer span{
    font-size: 17px;
    float: right;
    padding-right: 10px;
    padding-left: 10px;
}
.bttnGuess{
    border-style: solid;
    border-color: black;
    margin: 5px;
    padding: 3px 5px 3px 5px;
    font-size: 20px;
    height: 35px;
    width: 30px;

}
.bttnGuess:hover{
    font-weight: bold;
}
.bttnRestart{
    border-style: solid;
    border-color: black;
    margin-top: 20px;
    padding: 3px 5px 3px 5px;
    font-size: 20px;
    height: 35px;
    width: 490px ;
}
.bttnRestart:hover{
    font-weight: bold;
}
.word{
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}
.letter{
    border-bottom: 3px solid;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin:0 3px;
    height: 50px;
    width:20px;
}
#wordSpotlight{
    font-size: 50px;
    text-align: center;
}